@import "materialize";
form {
    input {
    z-index: 1;
  }
  label {
      z-index: -1;
  }
}



.left{
  /*font-size: 30px;*/
  h4{
  margin-left:3em;
  }
}

nav ul a {
      font-size: 2rem !important ;
  }
  nav i.material-icons {
   
    font-size: 2.5rem !important;
}
.form
   {
    width:100%;
   
    margin-bottom: 10px;
  }
  h1{
        font-size: 28px;
  margin-left: 4em;
    padding-top: 2%;
  }
  .part1{
   padding-left: 6%;
  width:50%;
  float:left;
 
}
#schooldetail_schoolname{
   border-color: black;
   
    width:28em;
    // height: 4em;
    float:left;
   
}
#schooldetail_address{
   border-color: black;
   font-size: 19px;
   width:22.6em;
   height: 6em;
  margin-top: 3.9em;
}
#schoola{
  width: 200px;
     color: black;
    font-size: 14px;
   // padding-top: 19px
}
#schoolname{
      font-size: 14px;
  width:200px;
 color: black;
	// font-size: 18px;
  // padding-top: 19px;
}
#schooladdress{
 border-color: black;

      padding-left: 3em;
	font-size: 18px;
  float:left;
 
  
  margin-bottom: 10px;
}
#schoolcity{
  border-color: black;

	font-size: 14px;
       width:51%;

}
// // label {
// //    font-size: 17px;
// //    color: black;
// // };


#schooldetail_city,#schooldetail_pincode,
#schooldetail_state
{
 
  border-color: black;
  font-size: 19px;
  width:18em;
  height: 2em;
}

#schoolstate{
      border-color: black;
  font-size: 14px;
  margin-bottom: 10px;
    width:38%;
 
}
#pincode{
      border-color: black;
  font-size: 14px;
  margin-bottom: 10px;
    width:38%;
 
}

.left-part {
    width:50%;
    float: right;
    margin-top: 12%;
  }
    
 
.test1{
    margin-left: 0.5em;
     
      border: 2px solid #a76a7a;
    padding: 10px 40px;
    background: #dddddd;
    
    border-radius: 25px;
}

  .field
{

  margin-top:4em;
}
.text-muted {
  color: black;
    font-size: 19px;
    
}
// .submit{
//   width:15%;
//   margin-left: 35em;
//   font-size: 20px;
//   display: inline-block;
 
//   text-align: center;
//   text-decoration: none;
//   outline: none;
//   color: #fff;
//   background-color: #00E676;
//   border: none;
//   border-radius: 15px;
//   box-shadow: 0 9px #999;
// }
// [type="radio"]:not(:checked) + label, [type="radio"]:checked + label{
//     border: 2px solid #b1dcfb !important;
//        background-color: #bf2372 !important;
// }

.editform
{
	background-color: blue;
}
.back{
	border: 2px solid #a96f6f;
    font-size: 23px;
    /* width: 9em; */
    border-radius: 8px;
    margin-left: 45%;
    background-color: #bcaaa4;
}

table{
	width:100%;
	
}
thead{
	border: 2px solid #a96f6f;
   
   
    border-radius: 8px;
	background-color:#ef9a9a 
}
.bordered{

	font-size: 20px;
	border: 2px solid #a96f6f;
}

.addschool{
	float:left;
}

td{
	background-color: #64FFDA;	
}
#error_explanation{
  font-size: 15px;
}
ul{
font-size: 20px;

}
.move{
  .tab{
  padding-left:6em !important;
}
}
.indicator{
  background-color: transparent !important;
}
// .wizeds{
//   margin-top: 7em;
// }
// #size{
//       margin-right: 3em;
//       width:100px;
//       background-color: grey !important;

// }
// #second{

// }
#wized{
  width: 56px ;
    height: 56px;
    margin-right: 6%;
    margin-left: 0;
    margin-top: 8em;
}
.section wizard{
  width:100px;  
}


.btn-floating.btn-large{
  float: left !important;
  margin-left: 8% !important;
    margin-top: 8em !important;
}
#sub{
  margin-top: 9em !important;

    width: 31px !important;
   
    height: 2em !important;
    background-color: grey !important;
}
#width{
      width: 7%;
      background-color: grey !important;
}
input[type="submit"] {
  font-size: 3em !important;

}
#new{
      margin-top: 0px !important;
}
.deleteimg1{

      width: 30px;
    float: left;
    margin-left: 5em;
    margin-top: -3.7em;
   
  }

